.title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Karla;
  font-weight: 60px;
  font-size: 30px;
}

/* .list:hover {
  overflow-x: overlay;
} */

.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.cast_member {
  margin-right: 20px;
}
