.head {
  display: flex;
}

.image {
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  object-position: center;
  margin-right: 10px;
  border: solid thin black;
}

.name {
  font-weight: 400;
  font-size: 35px;
}

.biography:hover {
  overflow-y: auto;
}

.biography {
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 20px;
  height: 200px;
  overflow-y: hidden;
  margin-top: 10px;
}
