.container {
  padding: 3px;
  display: flex;
  margin-top: 10px;
}

.selector {
  margin-right: 10px;
  padding: 0px;
  font-size: 35px;
  cursor: pointer;
}

.selector .film {
  margin-right: 10px;
}

.selector:hover {
  color: #e1b34b;
}
